<table align="right">
    <tbody>
    <tr>
        <td class="sponsorbannertext"><strong>Main Sponsors:</strong></td>
    </tr>

    {% for sponsor in mainSponsors %}
    <tr>
        <td class="logotable"><a href="{{ sponsor.url}}" target="_blank">
        <img src="{{ asset(sponsor.imageLink) }}" class="logo_image_centre"></a></td>
    </tr>
    {% endfor %}

    <tr>
        <td class="sponsorbannertext"><strong>Associate Sponsors:</strong></td>
    </tr>

    {% for sponsor in associateSponsors %}
        <tr>
            <td class="logotable"><a href="{{ sponsor.url}}" target="_blank">
                <img src="{{ asset(sponsor.imageLink) }}" class="logo_image_centre"></a></td>
        </tr>
    {% endfor %}

    </tbody></table>