{% extends 'CUESViewBundle:Default:base.html.twig' %}
{% block heroBox %}
<div class="hero-unit hero-unit-cues">
    <h1>Become a Member!</h1><p>While you're here, if you are not a member of the Cambridge University Engineering Society, why not sign up?</p><p>Membership entitles you to free access to our regular presentations (including a free lunch), discounted access to society social events, and some job and placement opportunities that CUES receive directly from industry to name just a few of our offerings.</p><p>Upon joining you will also receive a goodie bag including the much sort after CUES mug! We offer two levels of membership: Life membership is £15 or you can opt for a single year at a cost of £10.&nbsp;</p><p class="homeleft"><a class="btn btn-primary btn-large" href="/cues/admin/index.php?page=membership">Sign up here</a>
</div>
{% endblock %}

{% block mainContent %}

    <div class="span3 cues-bulletin">
        <h2>CUES Bulletin</h2>

        <p><strong>17 Oct 2012</strong>
        <ol>
            <li>CUES Careers and Placements Fair 2012 - Thursda...</li>
            <li>Robotic Surgery! Talk tonight!</li>
            <li>Cambridge University Wikipedia Society</li>
            <li>Building a brighter tomorrow: careers with EDF ...</li>
        </ol>
        </p>
        <p><a class="btn" href="#">Read More</a></p>
    </div>
    <div class="span3">
        <h2>Building a brighter tomorrow</h2>

        <p><strong>Lunchtime Presentation LR6 25 Oct 2012 - 1.00pm</strong></p>

        <p>Our business is energy. But more than that, it’s about the future of energy. That’s the challenge we’re
            taking on in the next few years. Join us, and ...</p>

        <p><a class="btn" href="#">Read More</a></p>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="span10">
            <h1>Upcoming Events</h1>
            {% render "CUESViewBundle:Events:listEvents" %}
        </div>
{% endblock %}
